* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: auto;
}

     /* Prima Nav */

nav a {
    color: black;
    margin-right: 20px;
}

nav input {
    margin-left: 20px;
}

.nav-bar {
    line-height: 50px;
}

.button_white {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    color: orange;
}

.button_orange {
    background-color:orange;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.destra {
    text-align: right;
}

    /* Seconda nav */
.nav-bar2 {
    line-height: 50px;
}

.logo img {
    vertical-align: middle;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
}

  /* Prima sezione */
.jumbo {
    position: relative;
}
  .jumbo img {
      width: 100%;
      object-fit: cover;
  }

  .descrizione_jumbo{
      position: absolute;
      top: 10%;
      left: 10%;
      text-align: center;
      padding: 50px;
      width: 25%;
      font-family: "Avenir Next W01","Avenir Next", Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
  }

  /* .sfumatura {
      position: absolute;
      background-color: green;
      bottom: 0;
      width: 100%;
  } */


  /* seconda sezione */

.second {
    padding-bottom: 30px;
}


.rubik img {
    width: 300px;
    margin: auto;
    display: block;
}
.rubik {
      padding: 50px 200px;
}

  .rubik_center {
     margin: auto;
  }

  .rubik_center{
      text-align: center;
  }

  .illu_left {
      padding: 50px;
  }

  .illu_left img{
      width: 150px;
      margin: auto;
      display: block;
  }

  .illu_left .button_orange {
      margin: auto;
      display: block;
      margin-top: 10px;
  }

  .illu_right >*{
      margin: auto;
      width: 70%;
      padding-top:30px;
  }

 .side img {
     width: 100px;
     height: 100px;
     margin: auto;
     display: block;
     margin-bottom: 20px;
 } 

 .side ul {
     list-style: none;
     text-align: center;
 }

 .side h2{
     text-align: center;
 }

 .side input {
    margin: auto;
    display: block;
    margin-top: 10px;
 }

 .side {
     margin-top: 30px;
 }

 .side_center {
     margin-left: 5%;
     margin-right: 5%;
     padding: 40px;
 }

 .side_left {
     padding: 40px;
 }

 .side_right {
     padding: 40px;
 }

      /* Terza sezione */

.informazioni >* {
    padding-top: 10px;
    text-align: center;
    color: white;
}

.informazioni p {
    margin-bottom: 20px;
}

.informazioni img {
    display: block;
    margin-top: 30px ;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

    /* Quarta sezione */
.left_one >* {
    margin-top: 30px;
    padding: 10px;
    text-align: center;
}

.right_one img {
   width: 180px;
   height: 25px;
   margin-top: 50px;
   margin-left: 30px;
   margin-bottom: 20px;
}

.left_two >* {
    padding: 20px;
}

.right_two img {
    width: 200px;
    margin-left: 370px;
}

      /* Footer */
.footer_list {
    margin-bottom: 40px;
}

.footer_list ul {
list-style: none;
}

.footer_list li {
    padding: 20px;
}

.footer_list h3 {
    padding: 20px;
}

.footer_list input {
    margin-left: 20px;
    margin-bottom: 10px;
}

.bottom_blue{
    padding: 5px 10px;
    color: #2d3e50;
    border-radius: 5px;
}

.footer_list a {
    color: white;
    padding-right: 7px;
    margin-left: 20px;
}

/* Bottomfooter */

.bottom_footer a {
    color: white;
    padding-right: 10px;
}

.bottom_footer ul {
    list-style: none;
    margin-left: 500px
}

.bottom_footer li {
    display: inline-block;
}
    





  



/* selettori comuni */

.col100{
    width: 100%;
}

.col50 {
    width: 50%;
}

.col33 {
    width: 33%;
}

.col30 {
    width: 30%;
}

.col25 {
    width: 25%;
}

.col75 {
    width: 75%;
}

.float-left {
    float: left;
}

.h-50 {
    height: 50px;
}

.h-100 {
    height: 100px;
}

.h-200 {
    height: 200px;
}

.h-300 {
    height: 300px;
}

.h-400 {
    height: 400px;
}

.h-500 {
    height: 500px;
}

.h-700 {
    height: 700px;
}

.h-1500 {
    height: 1500px;
}


.border {
    border: 1px solid black;
}

.border_white {
    border: 1px solid white ;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.border_bottom {
    border-bottom: 1px solid black  ;
}

.bordertop {
    border-top: 0px;
}

.borderleft {
    border-left: 0px;
}

.borderbottom {
    border-bottom: 0px;
}

.borderright {
    border-right: 0px;
} 


.bg-lightgray {
    background-color: lightgray;
}

.bg-lightblue{
    background-color: lightblue;
}

.bg-white {
    background-color: white;
}

.bg_green {
    background-color: #00a4bd;
}

.bg_footer {
    background-color: #2d3e50;
}

.color_white {
    color: white;
}